# Eclipse
.classpath
.project
.settings/
bin/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
target-ide/
target-test/

#project specific
logs/
*.log
*.log.*
sessions/
*.datapool
test_test.cube