<table>
#foreach($dim in $control.dimensions)
	<tr>
		<td>#if($dim.title != "") $dim.title #else $dim.key #end</td>
		<td>$insert.control("sel_$dim.key")</td>
	</tr>
#end
	<tr>
		<td>Measure</td>
		<td>$insert.control("lbcMeasure")</td>
	</tr>
	<tr>
		<td>Value</td>
		<td>$insert.control("inpValue") $insert.control("btWrite")</td>
	</tr>
</table>
