<div class="dialogContent">
	<div class="dialogText">
		$insert.control("infoText")
	</div>
	<div class="dialogFilterInput">
		$insert.control("filterName")
	</div>
	<div class="buttonSet">
		<div class="button">$insert.control("okButton")</div>
		<div class="button">$insert.control("cancelButton")</div>
	</div>
</div>
